<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.georgesirbu.ortodox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".playlist_audio"
            android:label="Audio"
            android:launchMode="singleTask">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="venombit.com"
                    android:scheme="http"
                    android:pathPrefix="/Ortodox" />

                <data android:scheme="http" android:host="www.venombit.com" android:path="/Ortodox/" android:pathPattern="redirectScript.php"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".jurnal"
            android:label="Jurnal" />
        <activity
            android:name=".radio"
            android:label="Radio" />
        <activity
            android:name=".playlist_preferiti"
            android:label="Preferite" />
        <activity android:name=".networkState"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/idPubblicita"/>

    </application>

</manifest>